/* ABOUT */


/* About */

.about {
    padding-block: 60px;
}

/* Inner */

.about__inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;   
}

/* Title */

.about__title {
    font-size: var(--h2-font-size); 
    font-weight: var(--font-medium);
    line-height: 110%;
}

/* Employees */

.about__employees {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 510px) {
    .about__employees {
        max-width: 300px;
    }
}

/* Employee */

.about__employee {
    width: 80px;
    height: 80px;
}

/* Information */

.about__information {
    line-height: 140%;
}