/* CARD */


/* Card */

.card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;

    padding: 20px;

    background-color: var(--color-light-green);
}

/* Description */

.card__description {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* Image */

.card__image {
    margin-bottom: 5px;
    background-color: var(--color-green);
}

@media (min-width: 510px) {
    .card__image {
        height: 250px;
    }
}

@media (min-width: 690px) {
    .card__image {
        height: 422px;
    }
}

/* Author */

.card__author {
    color: var(--color-grey-green);
}

@media (min-width: 690px) {
    .card__author {
        font-size: var(--big-font-size);
    }
}

/* Title */

.card__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    line-height: 110%;
}

/* Buy */

.card__buy {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* Price */

.card__price {
    font-size: var(--huge-font-size);
    color: var(--color-green);
}

@media (min-width: 690px) {
    .card__price {
       font-size: 24px;
    }
}


/* Option */

@media (min-width: 690px) {
    .card__option {
       font-size: var(--color-big-font);
    }
}
