/* CONTAINER */

/* Container */

.container {
    width: 100%;
    max-width: 1110px;
    height: 100%;
    padding-inline: 1rem;
}

@media (min-width: 1110px) {
   .container {
        margin-inline: auto;
   }
}