/* NEW */

/* New */

.new {
    padding-block: 50px;
    color: var(--color-white);
    background: url('../../images/back/mobile/rectangle.png');
}

@media (min-width: 690px) {
    .new {
        padding-block: 70px;
    }
}

/* Inner */

.new__inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* Header */

.new__header {
    display: flex;
    column-gap: 10px;
}

@media (min-width: 510px) {
    .new__header {
        max-width: 332px;
    }
}

@media (min-width: 690px) {
    .new__header {
        max-width: 370px;
    }
}

@media (min-width: 1440px) {
    .new__header {
        max-width: 500px;
    }
}


/* Icon */

.new__icon {
    display: block;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
}

/* Title */

.new__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    line-height: 100%;
    color: var(--color-light-grey);
}

/* Description */

.new__description {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    line-height: 140%;
}

@media (min-width: 690px) {
    .new__description {
        font-size: var(--big-font-size);
    }
}

/* Button */

.new__link {
    display: block;
    max-width: 190px;
}

@media (min-width: 690px) {
    .new__link {
        max-width: 210px;
    }
}