/* NEW */

/* New */

.new {
    position: relative;

    overflow: hidden;

    padding-block: 50px;

    color: var(--color-white);

    background-color: var(--color-medium-grey);
    background-image: url('../../images/new/mobile.webp');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.new::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 100%;

    background: rgb(13 43 67 / 80%);
    filter: blur(315px);
    mix-blend-mode: multiply;
}

@media (min-resolution: 2dppx) {
    .new {
        background-image: url('../../images/new/mobile-2x.webp');
    }
}

@media (min-width: 510px) {
    .new {
        background-image: url('../../images/new/tablet510.webp');
    }
}

@media (min-width: 510px) and (min-resolution: 2dppx) {
    .new {
        background-image: url('../../images/new/tablet510-2x.webp');
    }
}

@media (min-width: 690px) {
    .new {
        padding-block: 70px;
        background-image: url('../../images/new/tablet690.webp');
    }
}

@media (min-width: 690px) and (min-resolution: 2dppx) {
    .new {
        background-image: url('../../images/new/tablet690-2x.webp');
    }
}

@media (min-width: 1440px) {
    .new {
        padding-block: 90px;
        background-image: url('../../images/new/desktop.webp');
    }
}

@media (min-width: 1440px) and (min-resolution: 2dppx) {
    .new {
        background-image: url('../../images/new/desktop-2x.webp');
        background-position: left;
    }
}

/* Inner */

.new__inner {
    position: relative;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* Header */

.new__header {
    display: flex;
    column-gap: 10px;
}

@media (min-width: 510px) {
    .new__header {
        max-width: 332px;
    }
}

@media (min-width: 690px) {
    .new__header {
        max-width: 370px;
    }
}

@media (min-width: 1440px) {
    .new__header {
        max-width: 500px;
    }
}


/* Icon */

.new__icon {
    display: block;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
}

/* Title */

.new__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    line-height: 100%;
    color: var(--color-light-grey);
}

/* Description */

.new__description {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    line-height: 140%;
}

@media (min-width: 690px) {
    .new__description {
        font-size: var(--big-font-size);
    }
}

/* Button */

.new__link {
    display: block;
}

@media (min-width: 690px) {
    .new__link {
        max-width: 210px;
    }
}
