/* BUTTON */


/* Button */

.button {
    cursor: pointer;

    display: block;

    width: 100%;
    padding: 15px 29px;

    font-size: var(--big-font-size);
    line-height: 21px;
    text-align: center;

    background-color: transparent;
    border: 1px solid transparent;
    outline: none;

    transition: color .5s ease-in-out,
                background-color .5s ease-in-out;
}

/* Primary */

.button--primary {
    color: var(--color-green);
    background-color: transparent;
    border-color: var(--color-green);
}

.button--primary:focus-visible {
    background-color: var(--color-light-green);
    border-color:  var(--color-pink);
}

.button--primary:hover {
    color: var(--color-white);
    background-color: var(--color-green);
}

.button--primary:active {
    color: var(--color-white);
    background-color: var(--color-dark-green);
}

/* Secondary */

.button--secondary {
    color: var(--color-dark);
    background-color: var(--color-yellow);
}

.button--secondary:focus-visible {
    background-color: var(--color-white);
    border-color: var(--color-dark-yellow);
}

.button--secondary:hover {
    background-color: var(--color-light-yellow);
}

.button--secondary:active {
    color: var(--color-white);
    background-color: var(--color-dark-yellow);
}
