/* PAGE */


/* Page */

.page {
    color: var(--color-dark);
    font-family: var(--page-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--color-light-grey);
}
