/* RESET */


html,
body {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
