/* VARIABLES */

:root {
    /* Colors */

    --color-grey: hsl(213deg 15% 35%);
    --color-medium-grey: hsl(145deg 5% 55%);
    --color-light-grey: hsl(150deg 10% 96%);
    --color-green: hsl(135deg 23% 45%);
    --color-dark-green: hsl(135deg 32% 32%);
    --color-light-green: hsl(145deg 25% 91%);
    --color-grey-green: hsl(145deg 5% 55%);
    --color-dark: hsl(233deg 9% 19%);
    --color-white: hsl(0deg 0% 100%);
    --color-pink: hsl(312deg 49% 45%);
    --color-yellow: #EEDB6D;
    --color-light-yellow: #FAEB97;
    --color-dark-yellow: #D9B949;


    /* Font and typography */

    --page-font: 'Raleway';
    --h1-font-size: 1.875rem; /* 30px */
    --h2-font-size: 1.5rem; /* 24px */
    --h3-font-size: 1.25rem; /* 20px */
    --huge-font-size: 1.25rem; /* 20px */
    --big-font-size: 1.125rem; /* 18px */
    --normal-font-size: 1rem; /* 16px */
    --little-font-size: .875rem; /* 14px */
    --small-font-size: .75rem; /* 12px */

    /* Font weight */

    --font-medium: 500;
    --font-bold: 700;
}

@media (min-width: 510px) {
    :root {
        --h1-font-size: 2rem; /* 36px */
    }
}

@media (min-width: 690px) {
    :root {
        --h1-font-size: 2.5rem; /* 40px */
        --h2-font-size: 1.875rem; /* 30px */
    }
}

@media (min-width: 1440px) {
    :root {
        --h1-font-size: 3.75rem; /* 60px */
        --h2-font-size: 2.5rem; /* 40px */
    }
}